
.big {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    gap: 5%;
}


.text-sec4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px;
    width: 40%;
}

.text-sec4 p {
    color: #595b83;
}


.images {
    position: relative;
}


.image1 {
    z-index: -1;
    width: 350px;
    height: 448px;
    border-radius: 35%;
    border-bottom-right-radius: 37%;
}


.image2 {
    position: absolute;
    top: -4%;
    z-index: 1;
    height: 470px;
    right: -14%;
    border-radius: 46%;
}


.click {
    width: 180px;
    height: 45px;
    font-size: 17px;
    background-color: #fff;
    border-radius: 6px;
    border: 0.5px solid rgb(38, 38, 245);
    color: rgb(23, 0, 92);
}

.modal__content label {
    font-weight: bold;
    margin: 0.5rem 0;
    color: #464646;
}

.modal__content input {
    font: inherit;
    border: 1px solid #ccc;
    padding: 0.4rem 0.2rem;
    color: #383838;
}

.modal__content input:focus {
    outline: none;
    background: #fff1c4;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid #00329e;
    background: #00329e;
    color: white;
    border-radius: 6px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.26);
    cursor: pointer;
    margin: 0 0.5rem;
}

.btn:hover,
.btn:active {
    background: #f67722;
    border-color: #f67722;
}

.btn--passive {
    color: #00329e;
    background: transparent;
    border: none;
    box-shadow: none;
}

.btn--passive:hover,
.btn--passive:active {
    background: #aec6f8;
}


.modal {
    position: fixed;
    z-index: 100;
    background: white;
    border-radius: 10px;
    width: 80%;
    top: 30vh;
    left: 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    display: none;
}

.modal.visible {
    display: block;
    animation: fade-slide-in 0.3s ease-out forwards;
}




.movie-element {
    margin: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: flex;
}

.movie-element h2,
.movie-element p {
    font-size: 1.25rem;
    margin: 0;
}

.movie-element h2 {
    color: #383838;
    margin-bottom: 1rem;
}

.movie-element p {
    color: white;
    display: inline;
    background: #f67722;
    padding: 0.25rem 1rem;
    border-radius: 15px;
}





.movie-element__info {
    flex: 2;
    padding: 1rem;
}




#entry-text p {
    font-size: 1.5rem;
    text-align: center;
}

#movie-list {
    list-style: none;
    width: 40rem;
    max-width: 90%;
    margin: 1rem auto;
    padding: 0;
    overflow: hidden;
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 10;
    pointer-events: none;
    display: none;
}

#backdrop.visible {
    display: block;
    pointer-events: all;
    overflow: hidden;
}

#add-modal .modal__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#formTeacher {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #132026;
    width: 25%;
    position: fixed;
    height: 500px;
    top: 25%;
    left: 38%;
    border: 3px solid #ffc94b;
    color: #fff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 37px 2px rgba(255, 201, 75, 0.2);
    -moz-box-shadow: 0px 0px 37px 2px rgba(255, 201, 75, 0.2);
    box-shadow: 0px 0px 37px 2px rgba(255, 201, 75, 0.2);
    overflow: hidden;
}

#formTeacher input {
    font-size: 15px;
    padding: 0px 10px;
    border: none;
    background-color: #132026;
    color: #fff;
    height: 36px;
    width: 86%;
}

#formTeacher input {
    outline: none;
}

#formTeacher select {
    background-color: #132026;
    border: none;
    color: #fff;
    width: 310px;
}

#formTeacher select:focus {
    outline: none !important;
}

#formTeacher .name-container {
    border: 1px solid #fff;
    width: 340px;
    margin-top: 10px;
}

#formTeacher i {
    margin-left: 7px;
    margin-top: 10px;
    color: #ffc94b;
}

#formTeacher .phone-container {
    border: 1px solid #fff;
    width: 340px;
    margin-top: 10px;
}


#formTeacher .direction-container {
    border: 1px solid #fff;
    width: 340px;
    margin-top: 10px;
    height: 37px;
}

#formTeacher h1,
.form_text {
    text-align: center;
}

#from p {
    color: gray;
}

.FormButton {
    display: flex;
    flex-direction: row;
    width: 75%;
    gap: 10px;
    margin: 0 auto;
}

.FormButton button {
    margin: 0 auto;
    width: 340px;
    padding: 10px 0px;
    color: #ffc94b;
    background-color: #132026;
    border: 1px solid #ffc94b;
    cursor: pointer;
    border-radius: 10px;
    font-size: 17px;
}