#footer {
    background-color: #132026;
    position: absolute;
    width: 100%;
    height: 510px;
    margin-top: 300px;
}

.form {
    background-color: #132026;
    position: absolute;
    height: 400px;
    width: 800px;
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    border: 3px solid #ffc94b;
    color: #ffc94b;
    padding: 10px;
    animation: leftmove 1s 1;
    animation-timing-function: ease-in-out;
}

@keyframes leftmove {
    from {
        right: 1000px;
    }

    to {
        right: 0px;
    }
}

.form h1 {
    padding: 5px;
    margin-top: 10px;
    color: #ffc94b;
}

.form p {
    padding-bottom: 20px;
}

.form__item:nth-child(1) {
    margin-top: 50px !important;
}

.form__item {
    display: flex;
    gap: 20px;
}

.form__item1 {
    display: grid;
}

.form input {
    padding: 15px 15px;
    width: 600px;
    margin: 0px 0px 10px 0px;
    border: 1px solid #ffc94b;
    background-color: #132026;
    color: #ffc94b;
    font-size: 15px;
}

.form input:focus {
    outline: 2px solid #ffc94b;
    transition: 0.1s;
}

::placeholder {
    color: #ffc94b;
    opacity: 1;
}

.form select {
    width: 652px;
    height: 46px;
    background-color: #132026;
    color: #ffc94b;
    border: 1px solid #ffc94b;
    font-size: 15px;
}

.form select:active {
    outline: 1px solid #ffc94b;
}

.form select::after {
    outline: 1px solid #ffc94b;
}

.form textarea {
    width: 97.4%;
    height: 100px;
    margin-bottom: 10px;
    background-color: #132026;
    color: #ffc94b;
    border: 1px solid #ffc94b;
    padding: 10px;
    font-size: 18px;
}

.form textarea:active {
    border: 1px solid #ffc94b;
}

.form button {
    padding: 20px 30px;
    cursor: pointer;
    color: #132026;
    background-color: #ffc94b;
    border: none;
}

.form button:hover {
    box-shadow: 0 3px 7px rgb(255 201 75 / 50%) !important;
    transition: 0.3s ease-in-out;
}

.content {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 280px;
    color: #ffc94b;
    height: 230px;
    animation: mymove 1s 1;
    animation-timing-function: ease-in-out;
}

@keyframes mymove {
    from {
        left: 1000px;
    }

    to {
        left: 0px;
    }
}

.content ul li {
    list-style-type: none;
    padding: 5px;
}

.content ul li a {
    text-decoration: none;
    color: #ffc94b;
}

.content ul li a:hover {
    text-decoration: underline;
}

.content i {
    color: #ffc94b;
    padding: 0px 3px;
}

hr {
    display: none;
}

@media (max-width: 767px) {

    #footer {
        height: 1020px;
    }

    .form {
        width: 400px;
        top: 18px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .form h1 {
        margin-top: 50px !important;
    }

    .border {
        width: 410px;
        top: 10px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 25px, transparent 25px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 25px, transparent 25px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 25px, transparent 25px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 25px, transparent 25px) 100% 100%/30px 30px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 60px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 60px) calc(100% - 10px) no-repeat,
            linear-gradient(300deg, transparent 0%, goldenrod 100%);
        border-radius: 30px;
        padding: 9px;
        box-sizing: border-box;
    }

    .form input {
        width: 200px;
    }

    .content {
        display: grid;
        text-align: center;
    }

    .content i {
        padding: 10px;
        margin-bottom: 10px;
    }

    .content h4 {
        font-size: 22px;
        border-bottom: 2px solid #fff;
        padding: 10px;
    }
}

@media (max-width: 565px) {

    #footer {
        height: 1100px;
    }

    .form {
        width: 300px;
        height: 300px;
        margin-top: 10px;
    }

    .border {
        width: 310px;
        height: 310px;
        margin-top: 10px;
        background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 25px, transparent 25px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 25px, transparent 25px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 25px, transparent 25px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 25px, transparent 25px) 100% 100%/30px 30px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 60px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 60px) calc(100% - 10px) no-repeat,
            linear-gradient(316deg, transparent 0%, goldenrod 100%);
        border-radius: 30px;
        padding: 9px;
        box-sizing: border-box;
    }

    .form__item {
        display: grid;
    }

    .form button {
        padding: 20px 93px;
        margin-top: 5px;
    }

    .content i {
        padding: 10px;
        margin-bottom: 10px;
    }

    .content h4 {
        font-size: 22px;
        border-bottom: 2px solid #fff;
        padding: 10px;
    }
}

@media (max-width: 400px) {
    #footer {
        height: 1100px;
    }

    .form {
        width: 250px;
        height: 300px;
    }

    .border {
        width: 260px;
        height: 320px;
        background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 25px, transparent 25px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 25px, transparent 25px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 25px, transparent 25px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 25px, transparent 25px) 100% 100%/30px 30px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 60px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 60px) calc(100% - 10px) no-repeat,
            linear-gradient(322deg, transparent 0%, goldenrod 100%);
        border-radius: 30px;
        padding: 9px;
        box-sizing: border-box;
    }

    .form h1 {
        font-size: 30px;
    }

    .form input {
        width: 150px;
    }

    .form button {
        padding: 20px 67px;
    }

    .content i {
        padding: 10px;
        margin-bottom: 10px;
    }

    .content h4 {
        font-size: 22px;
        border-bottom: 2px solid #fff;
        padding: 10px;
    }
}