#section5 {
    background-color: #f4f3f3;
}

.big-div1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3%;
    align-items: center;
    padding: 2%;
}

.big-div2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    padding: 2% 0% 4% 0%;
}

.divs {
    display: inline-block;
    width: 250px;
    height: 320px;
    border: none;
    text-align: center;
    border-radius: 20px;
    -webkit-box-shadow: 2px 1px 28px -1px rgba(19, 32, 38, 0.33);
    -moz-box-shadow: 2px 1px 28px -1px rgba(19, 32, 38, 0.33);
    box-shadow: 2px 1px 28px -1px rgba(19, 32, 38, 0.33);
    background-color: white;

}

.text-h1 {
    text-align: center;
}

.text-p1 {
    font-size: 15px;
    color: grey;
    padding-top: 15px;
}


.beginning {
    text-align: center;
    margin-bottom: 4%;
}

.img-1 {
    height: 100%;
    width: 100%;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


#section5 {
    margin: 5% auto;
    width: 70%;
    border-radius: 50px;
    padding: 20px;

}


.start-part {
    font-size: 48px;
    margin-top: 15px;
}


.imj {
    width: 90%;
    margin: auto;
    height: 50%;
}

.tekst {
    width: 100%;
    margin: auto;
    height: 50%;
}